.form-container {
  max-width: 700px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.login-form label {
  width: 100%;
  text-align: left;
  font-weight: 500;
  cursor: text;
  /* margin-bottom: 0.5rem; */
}

.login-form input {
  cursor: text !important;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit !important;
  height: 4ch;
  padding-left: 1em;
  border-radius: 6px;
  background-color: rgb(31, 31, 31);
  border: 1px solid rgba(204, 204, 204, 0.2);
  width: 100%;
  /* margin-bottom: 0.5rem; */
}
.login-form button {
  margin: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .register-link {
    display: flex;
    flex-direction: column;
  }
}
